{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><html class="no-js" lang="zxx"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.svg">
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/LineIcons.2.0.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">

</head>

<body>

    <!-- Start Events Area-->
    <section class="courses section grid-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".2s">
                        <div class="course1-image">
                            <a href="{% url 'photoshoptemplate' %}"><img src="{% static 'web/images/Adobe photoshop template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'photoshoptemplate' %}">Adobe photoshop template</a></h3>
                            <p>Get adobe photoshop template for free and pro, we brovide better, most welcome for better photoshop template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'primiertemplate' %}"><img src="{% static 'web/images/Adobe primier template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'primiertemplate' %}">Adobe primier template</a></h3>
                            <p>Get adobe primier template for free and pro, we brovide better, most welcome for better primier template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'illustratortemplate' %}"><img src="{% static 'web/images/Adobe illustrator template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'illustratortemplate' %}">Adobe illustrator template</a></h3>
                            <p>Get adobe illustrator template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'InDesignadobe' %}"><img src="{% static 'web/images/Adobe InDesign template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'InDesignadobe' %}">Adobe InDesign template</a></h3>
                            <p>Get Adobe InDesign template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'XDadobe' %}"><img src="{% static 'web/images/Adobe XD template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'XDadobe' %}">Adobe XD template</a></h3>
                            <p>Get Adobe XD template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Lightroomadobe' %}"><img src="{% static 'web/images/Adobe Lightroom template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Lightroomadobe' %}">Adobe Lightroom template</a></h3>
                            <p>Get Adobe Lightroom template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'LightroomClassicadobe' %}"><img src="{% static 'web/images/Adobe Lightroom Classic template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'LightroomClassicadobe' %}">Adobe Lightroom Classic template</a></h3>
                            <p>Get Adobe Lightroom Classic template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'AfterEffectsadobe' %}"><img src="{% static 'web/images/Adobe After Effects template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'AfterEffectsadobe' %}">Adobe After Effects template</a></h3>
                            <p>Get Adobe After Effects template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Animateadobe' %}"><img src="{% static 'web/images/Adobe Animate template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Animateadobe' %}">Adobe Animate template</a></h3>
                            <p>Get Adobe Animate template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Dreamweaveradobe' %}"><img src="{% static 'web/images/Adobe Dreamweaver template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Dreamweaveradobe' %}">Adobe Dreamweaver template</a></h3>
                            <p>Get Adobe Dreamweaver template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Auditionadobe' %}"><img src="{% static 'web/images/Adobe After Effects template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Auditionadobe' %}">Adobe Audition template</a></h3>
                            <p>Get Adobe Audition template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Bridgeadobe' %}"><img src="{% static 'web/images/Adobe Bridge template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Bridgeadobe' %}">Adobe Bridge template</a></h3>
                            <p>Get Adobe Bridge template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Dimensionadobe' %}"><img src="{% static 'web/images/Adobe Dimension template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Dimensionadobe' %}">Adobe Dimension template</a></h3>
                            <p>Get Adobe Dimension template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Frescoadobe' %}"><img src="{% static 'web/images/Adobe Fresco template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Frescoadobe' %}">Adobe Fresco template</a></h3>
                            <p>Get Adobe Fresco template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'CharacterAnimatoradobe' %}"><img src="{% static 'web/images/Adobe Character Animator template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'CharacterAnimatoradobe' %}">Adobe Character Animator template</a></h3>
                            <p>Get Adobe Character Animator template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'MediaEncoderadobe' %}"><img src="{% static 'web/images/Adobe Media Encoder template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'MediaEncoderadobe' %}">Adobe Media Encoder template</a></h3>
                            <p>Get Adobe Media Encoder template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Rushadobe' %}"><img src="{% static 'web/images/Adobe Rush template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Rushadobe' %}">Adobe Rush template</a></h3>
                            <p>Get Adobe Rush template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Sparkadobe' %}"><img src="{% static 'web/images/Adobe Spark template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Sparkadobe' %}">Adobe Spark template</a></h3>
                            <p>Get Adobe Spark template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Substance3DPainteradobe' %}"><img src="{% static 'web/images/Adobe Substance 3D Painter template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Substance3DPainteradobe' %}">Adobe Substance 3D Painter template</a></h3>
                            <p>Get Adobe Substance 3D Painter template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Substance3DDesigneradobe' %}"><img src="{% static 'web/images/Adobe Substance 3D Designer template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Substance3DDesigneradobe' %}">Adobe Substance 3D Designer template</a></h3>
                            <p>Get Adobe Substance 3D Designer template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Substance3DSampleradobe' %}"><img src="{% static 'web/images/Adobe Substance 3D Sampler template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Substance3DSampleradobe' %}">Adobe Substance 3D Sampler template</a></h3>
                            <p>Get Adobe Substance 3D Sampler template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Substance3DStageradobe' %}"><img src="{% static 'web/images/Adobe Substance 3D Stager template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Substance3DStageradobe' %}">Adobe Substance 3D Stager template</a></h3>
                            <p>Get Adobe Substance 3D Stager template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'AcrobatProDCadobe' %}"><img src="{% static 'web/images/Adobe Acrobat Pro DC template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'AcrobatProDCadobe' %}">Adobe Acrobat Pro DC template</a></h3>
                            <p>Get Adobe Acrobat Pro DC template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Signadobe' %}"><img src="{% static 'web/images/Adobe Sign template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Signadobe' %}">Adobe Sign template</a></h3>
                            <p>Get Adobe Sign template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'FrameMakeradobe' %}"><img src="{% static 'web/images/Adobe FrameMaker template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'FrameMakeradobe' %}">Adobe FrameMaker template</a></h3>
                            <p>Get Adobe FrameMaker template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Engageadobe' %}"><img src="{% static 'web/images/Marketo Engage template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Engageadobe' %}">Marketo Engage template</a></h3>
                            <p>Get Marketo Engage template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".4s">
                        <div class="course1-image">
                            <a href="{% url 'Presenteradobe' %}"><img src="{% static 'web/images/Adobe Presenter template.jpg' %}" alt="#"></a>
                            <p class="price">Adobe</p>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'Presenteradobe' %}">Adobe Presenter template</a></h3>
                            <p>Get Adobe Presenter template for free and pro, we brovide better, most welcome for better illustrator template.</p>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">Template</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <div class="pagination center">
                        <ul class="pagination-list">
                            <li><a href="javascript:void(0)">Prev</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)">Next</a></li>
                        </ul>
                    </div>
                    <!--/ End Pagination -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Events Area-->

    <!-- Start Footer Area -->

    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->

    <script src="{% static 'web/js/count-up.min.js' %}"></script>
    <script src="{% static 'web/js/wow.min.js' %}"></script>
    <script src="{% static 'web/js/tiny-slider.js' %}"></script>
    <script src="{% static 'web/js/glightbox.min.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>


</body></html>

{% endblock %}