
{% extends 'web/base1.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="WRAPCODERS">
    <!--! The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags !-->
    <!--! BEGIN: Apps Title-->
    <title>Worntech Online || Dashboard</title>
    <!--! END:  Apps Title-->
    <!--! BEGIN: Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'dash/favicon.ico' %}">
    <!--! END: Favicon-->
    <!--! BEGIN: Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/bootstrap.min.css' %}">
    <!--! END: Bootstrap CSS-->
    <!--! BEGIN: Vendors CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/daterangepicker.min.css' %}">
    <!--! END: Vendors CSS-->
    <!--! BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dash/css/theme.min.css' %}">
    <!--! END: Custom CSS-->
</head>

<body>

    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <div class="page-header">
                <div class="page-header-left d-flex align-items-center">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Dashboard</li>
                    </ul>
                </div>
                <div class="page-header-right ms-auto">
                    <div class="page-header-right-items">
                        <div class="d-flex d-md-none">
                            <a href="javascript:void(0)" class="page-header-right-close-toggle">
                                <i class="feather-arrow-left me-2"></i>
                                <span>Back</span>
                            </a>
                        </div>
                        <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                            <div class="dropdown filter-dropdown">
                                <a href="{% url 'withdraw' %}" class="btn btn-primary">
                                    <i class="feather-dollar-sign"></i>
                                    <span>Cashout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-md-none d-flex align-items-center">
                        <a href="javascript:void(0)" class="page-header-right-open-toggle">
                            <i class="feather-align-right fs-20"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- [ page-header ] end -->
            <!-- [ Main Content ] start -->
            <div class="main-content">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card stretch stretch-full">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="paymentList">
                                        <thead>
                                            <tr>
                                                <th class="wd-30">
                                                    <div class="btn-group mb-1">
                                                        <div class="custom-control custom-checkbox ms-1">
                                                            <input type="checkbox" class="custom-control-input" id="checkAllPayment">
                                                            <label class="custom-control-label" for="checkAllPayment"></label>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>User</th>
                                                <th>Card_Type</th>
                                                <th>Card_Name</th>
                                                <th>Card_Number</th>
                                                <th>Phone_Number</th>
                                                <th>Country</th>
                                                <th>Date</th>
                                                <th class="text-end">Change</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% if cardinfo %}
                                            {% for i in cardinfo %}
                                            <tr class="single-item">
                                                <td>
                                                    <div class="item-checkbox ms-1">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input checkbox" id="checkBox_1">
                                                            <label class="custom-control-label" for="checkBox_1"></label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" class="hstack gap-3">
                                                        <div class="avatar-image avatar-md">
                                                            <img src="{% static 'web/images/profile1.jpg' %}" alt="" class="img-fluid">
                                                        </div>
                                                        <div>
                                                            <span class="text-truncate-1-line">{{i.First_Name}} {{i.Last_Name}}</span>
                                                            <small class="fs-12 fw-normal text-muted">{{i.Email}}</small>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="fw-bold text-dark">{{i.Card_Type}}</td>
                                                <td class="fw-bold text-dark">{{i.Card_Name}}</td>
                                                <td class="fw-bold text-dark">{{i.Card_Number}}</td>
                                                <td class="fw-bold text-dark">{{i.Phone_Number}}</td>
                                                <td class="fw-bold text-dark">{{i.Country}}</td>
                                                <td>{{i.added_date}}</td>

                                                <td>
                                                    <div class="hstack gap-2 justify-content-end">
                                                        <div class="dropdown">
                                                            <a href="javascript:void(0)" class="avatar-text avatar-md" data-bs-toggle="dropdown" data-bs-offset="0,21">
                                                                <i class="feather feather-more-horizontal"></i>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a class="dropdown-item" href="{% url 'updatecard' i.id%}">
                                                                        <i class="feather feather-edit-3 me-3"></i>
                                                                        <span>Edit</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}
                    <!-- [Payment Records] start -->
                    <div class="col-xxl-8">
                        <div class="card stretch stretch-full">
                            <div class="card-header">
                                <h5 class="card-title">Card Infomation</h5>
                            </div>
                            <div class="card-footer">
                                <div class="row g-4">
                                    {% for m in messages %}
                                    <p style="color:rgb(10, 159, 79)">{{m}}</p>
                                    {% endfor %}
                                    <h4>Add Card Infomation</h4>
                                    <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{mycard.as_p}}
                                    
                                    <button class="btn btn-primary"><b>Add Card<b></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [Payment Records] end -->
                    {% endif %}
                    <!--! END: [Team Progress] !-->
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        
        <!-- [ Footer ] end -->
    </main>

    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! BEGIN: Theme Customizer !-->
    <!--! ================================================================ !-->


	<!--! ================================================================ !-->
    <!--! [End] Theme Customizer !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! Footer Script !-->
    <!--! ================================================================ !-->
    <!--! BEGIN: Vendors JS !-->
	
    {% comment %} <script src="{% static 'dash/js/vendors.min.js' %}"></script>
    <!-- vendors.min.js {always must need to be top} -->
    <script src="{% static 'dash/js/daterangepicker.min.js' %}"></script>
    <script src="{% static 'dash/js/apexcharts.min.js' %}"></script>
    <script src="{% static 'dash/js/circle-progress.min.js' %}"></script>
    <!--! END: Vendors JS !-->
    <!--! BEGIN: Apps Init  !-->
    <script src="{% static 'dash/js/common-init.min.js' %}"></script>
    <script src="{% static 'dash/js/dashboard-init.min.js' %}"></script>
    <!--! END: Apps Init !-->
    <!--! BEGIN: Theme Customizer  !-->
    <script src="{% static 'dash/js/theme-customizer-init.min.js' %}"></script>
    <!--! END: Theme Customizer !--> {% endcomment %}


</body>

</html>

{% endblock %}