{% extends 'web/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<!DOCTYPE html><html class="no-js" lang="zxx"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.svg">
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/LineIcons.2.0.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">

</head>

<body>

    <!-- Preloader -->

    <!-- /End Preloader -->

    <!-- Start Events Area-->
    <section class="courses section grid-page">
        <div class="container">
            <form class="d-flex search-form" method="get" action="{% url 'search_all_product' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit"><i class="lni lni-search-alt"></i></button>
            </form>
            <div class="row">
                {% if product %}
                {% for i in product %}
                {% if i.Category == 'Specialized diet guides' %}
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Course -->
                    <div class="single-course wow fadeInUp" data-wow-delay=".2s">
                        <div class="course-image">
                            <a href="{% url 'viewbook' i.id %}"><img src=" {{i.Image.url}}" alt="#"></a>
                            {% if i.amount_in_USD == 0 %}
                            <p class="price">FREE</p>
                            {% else %}
                            <p class="price">$ {{i.amount_in_USD}}</p>
                            {% endif %}
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'viewbook' i.id %}">{{i.Title}}</a></h3>
                        </div>
                        <div class="bottom-content">
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li>22 Reviews</li>
                            </ul>
                            <span class="tag">
                                <i class="lni lni-tag"></i>
                                <a href="javascript:void(0)">diet guides</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Single Course -->
                </div>
                {% else %}
                {% endif %}
                {% endfor %}
                {% else %}
                <marquee><h6 style="color: rgb(3, 76, 50);">NO BOOK PUBLISHED, WE WILL PUBLISH SOON STAY TUNED</h6></marquee>
                {% endif %}

            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <div class="pagination center">
                        <ul class="pagination-list">
                            <li><a href="javascript:void(0)">Prev</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)">Next</a></li>
                        </ul>
                    </div>
                    <!--/ End Pagination -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Events Area-->

    <!-- Start Footer Area -->

    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/count-up.min.js' %}"></script>
    <script src="{% static 'web/js/wow.min.js' %}"></script>
    <script src="{% static 'web/js/tiny-slider.js' %}"></script>
    <script src="{% static 'web/js/glightbox.min.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>


</body></html>

{% endblock %}